// Import variables and base styles
@use 'sass:color';
@use 'base/variables' as vars;
@use 'base/reset';
@use 'base/typography';

// Import component styles
@use 'components/contact-card';
@use 'components/contact-form';
@use 'components/contact-list' as contact-list-component;
@use 'components/contact-view';


// PrimeReact imports
@use 'primereact/resources/themes/lara-light-indigo/theme.css';
@use 'primereact/resources/primereact.min.css';
@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';

// Global styles
:root {
  font-family: vars.$font-family;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: vars.$color-bg;
  color: vars.$color-text-primary;
}